body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 55px;
    font-weight: 700px;
    margin: 0;
    color: #575757;
}
h2{
    font-size: 2rem;
    color: #707070;
}
p{
    margin: 50px 0;
    color: #828282;
    font-size: 18px;
    padding-right: 5%;
    text-align: justify;
}
.flexible-section a{
    margin:40px 0;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 35px;
    font-size: 18px;
}
.colorful-text{
    color: #FB8E48;
}

#menu{
    margin: auto;
    font-size: 34px;
    color: #fff;
    justify-content: center;
}
#menu a{
    color:#ffffff;
    background-color: blanchedalmond;
    margin-right: 15px;
    padding: 10px 20px;
}
#menu img{
    margin-top: 20px;
    width: 200px;
    height: 92px;
    margin-right: 15px;
}
hr{
    width: 50%;
    margin:auto;
    border: 1px dashed orange;
}

.flexible-section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.top-left-content{
    padding-left: 8%;
    padding-top: 20%;
}

.first-section-right-photo img{
    width: 93%;
    padding-top: 18%;
    padding-right: 5%;
}

#second-section-background{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section-left-photo img{
    width: 404px;
    height: 502px;
    padding-left: 30%;
    padding-top: 10%;
}
.second-section-right-content{
    width: 60%;
    padding:10%;
}
.second-section-right-content p{
    color: #000000;
    font-size: 16px;
}

.recipe-header{
    width: 50%;
    margin: auto;
    text-align: center;
}
.recipe-header p{
    text-align: center;
    margin-top: 0;
}
.recipies{
    width: 90%;
    display: flex;
    margin: auto;
}
.recipe{
    width: 33.33%;
    border: 1px solid #EDEDED;
    margin: 0 1.7%;
    padding: 15px;
    border-radius: 20PX;
    box-shadow: 20px 20px 40px #e9e0e0;
}
.recipe-item img{
    width: 100%;
}
.recipe h2{
    color: #000000;
}
.recipe p{
    margin-top: 0;
    text-align: left;
}

#social-items{
    width: 87%;
    margin:0 auto;
    border: 1px solid #EDEDED;
    box-shadow: 20px 20px 40px #c4baba;
    border-radius: 30px;
}
.social-item{
    width: 30%;
    text-align: center;
    padding: 5% ;
}
.social-item p{
    text-align: center;
    margin: 0;
}
footer{
    background-color: #000000;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}
footer p{
    text-align: center;
    margin-top:0;
}
footer a{
    text-decoration: none;
    background-color: #fff;
    color: rgb(49, 32, 1);
    font-size: 16px;
    width: 20px;
    height: 15px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 30px;
}

#contact{
    margin-top: 100px;
    justify-content: center;
}
#contact img{
    width: 90%;
    padding-left: 10%;
}
.contact{
    width: 78%;
    border: 1px solid rgb(216, 205, 205);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 20px 20px 40px #c4baba;;
}
.contact input,textarea,button{
    width: 85%;
    margin-bottom: 10px;
    padding: 7px 12px;
    border: 1px solid rgb(216, 205, 205);
    border-radius: 10px;
}
button{
    font-size: 22px;
    width: 50%;
    background-image: linear-gradient(orange,red);
    color: #fff;
    cursor: pointer;
}
